
.root *{
	-fx-font-family: "Segoe UI Light";
}

.button {
    -fx-background-color: linear-gradient(#f2f1ed, #ccccc7);
}

.root {
	-fx-background-image: url("PremiumWhite.png");
	-fx-background-size: cover;
}

.tab {
          
    -fx-pref-width: 245
} 
.tab {

    -fx-pref-height: 40
} 

.tab-header-background {
    -fx-background-color:transparent
}

.tab-container {
    -fx-alignment: center;
}

.tab-pane{
    -fx-tab-min-width: 230.0px;
}



.tab-pane .tab {
    -fx-background-color: transparent
}

.tab .tab-label{
    -fx-text-fill: #1e1003;
    -fx-alignment: center;
}

.tab:selected .focus-indicator {
	-fx-border-color: transparent
}

.tab-pane .tab:selected {
    -fx-background-color: linear-gradient(#f2f1ed, #ccccc7);
      
}
.tab:selected .tab-label {
     -fx-text-fill: #1e1003;
}


.tab-label { 
    -fx-pref-width:200; 
}

#mainTitle{
	-fx-font-size: 26px;
	-fx-font-family: "Segoe UI Light";
	-fx-opacity: 1;
    -fx-text-fill: #1e1003;
    -fx-effect: dropshadow( gaussian , rgba(255, 255, 255) , 0,0,1,1 );
}

.table-view {
	-fx-opacity: 0.8;
}

