
.root *{
	-fx-font-family: "Segoe UI Light";
}

.root {
	-fx-background-image: url("EverlastingSky.png");
	-fx-background-size: cover;
}

.tab {
          
    -fx-pref-width: 245
} 
.tab {

    -fx-pref-height: 40
} 

.tab-header-background {
    -fx-background-color:transparent
}

.tab-container {
    -fx-alignment: center;
}

.tab-pane{
    -fx-tab-min-width: 230.0px;
}

.tab-pane .tab {
      -fx-background-color: linear-gradient(#efefef, #e8ddd5);
}

.tab .tab-label{
    -fx-text-fill: #1e1003;
}

.tab:selected .focus-indicator {
	-fx-border-color: transparent
}

.tab-pane .tab:selected {
     -fx-background-color: linear-gradient(#ffffff, #edede8);
      
}
.tab:selected .tab-label {
     -fx-text-fill: #1e1003;
}


#reserveTab {
  -fx-background-image:url("MenuReserve.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 35px;
  -fx-background-position: 25%;
  
}
#carsTab {
  -fx-background-image:url("MenuCars.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 40px;
  -fx-background-position: 25%;	
}
#reservationsTab {
  -fx-background-image:url("MenuReservations.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 35px;
  -fx-background-position: 20%;	
}
#dashboardTab {
  -fx-background-image:url("MenuDashboard.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 35px;
  -fx-background-position: 20%;	
}


#mainTitle{
	-fx-font-size: 26px;
	-fx-font-family: "Segoe UI Light";
	-fx-opacity: 1;
    -fx-text-fill: #1e1003;
    -fx-effect: dropshadow( gaussian , rgba(255, 255, 255) , 0,0,1,1 );
}

.table-view {
	-fx-opacity: 0.8;
}

#searchTF {
  -fx-background-image:url("IconSearch.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 30px;
  -fx-background-position: right center;
  -fx-font-size: 15px;
  -fx-pref-width: 220px;
}
#telefonTF{
  -fx-background-image:url("IconTelefon.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 20px;
  -fx-background-position: right center;
}
#emailTF{
  -fx-background-image:url("IconEmail.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 20px;
  -fx-background-position: right center;
}

#searchLB {
  -fx-font-size: 15px;
}

#carSearchBox {
  -fx-font-size: 14px;
  -fx-pref-width: 195px;
  -fx-pref-height: 28px;
}

#chooseCarButton {
  -fx-background-image:url("ChooseCar.png");
  -fx-background-color: linear-gradient(#f2f1ed, #ccccc7);
  -fx-background-repeat: no-repeat;
  -fx-background-size: 50px;
  -fx-background-position: right center;
  -fx-font-size: 15px;
  -fx-pref-height: 30px;
  -fx-pref-width: 195px;
}

#searchDriverButton {
  -fx-background-image:url("ChooseCustomer.png");
  -fx-background-color: linear-gradient(#f2f1ed, #ccccc7);
  -fx-background-repeat: no-repeat;
  -fx-background-size: 33px;
  -fx-background-position: right center;
  -fx-font-size: 15px;
  -fx-pref-height: 30px;
  -fx-pref-width: 195px;
}



#saveCustomerButton {
  -fx-background-image:url("IconSaveCustomer.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 40px;
  -fx-pref-width: 120px;
  -fx-pref-height: 40px;
  -fx-background-position: 5%;	
  -fx-padding: 0 0 0 20;
  -fx-background-color: linear-gradient(#efefef, #C0C0C0);	
}
#updateCustomerButton {
  -fx-background-image:url("IconUpdateCustomer.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 38px;
  -fx-pref-width: 120px;
  -fx-pref-height: 40px;
  -fx-background-position: 5%;	
  -fx-padding: 0 0 0 20;
  -fx-background-color: linear-gradient(#ffeed1, #FFA500);	
}




#updateResButton {
  -fx-background-image:url("IconUpdateRes.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 35px;
  -fx-pref-width: 120px;
  -fx-pref-height: 40px;
  -fx-background-position: 5%;	
  -fx-padding: 0 0 0 20;
  -fx-background-color: linear-gradient(#ffeed1, #FFA500);
}
#saveResButton {
  -fx-background-image:url("IconSaveRes.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 35px;
  -fx-pref-width: 120px;
  -fx-pref-height: 40px;
  -fx-background-position: 5%;
  -fx-padding: 0 0 0 20;
  -fx-background-color: linear-gradient(#efefef, #96d666);	
}

#calcPriceButton {
  -fx-background-image:url("IconCalculatePrice.png");
  -fx-background-color: linear-gradient(#f2f1ed, #ccccc7);
  -fx-background-repeat: no-repeat;
  -fx-background-size: 33px;
  -fx-background-position: right center;
  -fx-font-size: 15px;
  -fx-pref-height: 30px;
  -fx-pref-width: 195px;
}




#makeResButton {
  -fx-background-image:url("IconReserveCar.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 33px;
  -fx-pref-width: 120px;
  -fx-pref-height: 40px;
  -fx-background-position: 5%;	
  -fx-padding: 0 0 0 20;
  -fx-background-color: linear-gradient(#efefef, #C0C0C0);
}
#deleteCarButton {
  -fx-background-image:url("IconDelete.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 33px;
  -fx-pref-width: 120px;
  -fx-pref-height: 40px;
  -fx-background-position: 5%;
  -fx-padding: 0 0 0 20;
  -fx-background-color: linear-gradient(#efefef, #ff7c7c);	
}
#updateCarButton {
  -fx-background-image:url("IconUpdateCar.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 40px;
  -fx-pref-width: 120px;
  -fx-pref-height: 40px;
  -fx-background-position: 5%;	
  -fx-padding: 0 0 0 20;
  -fx-background-color: linear-gradient(#ffeed1, #FFA500);
}
#addCarButton {
  -fx-background-image:url("IconAddCar.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 33px;
  -fx-pref-width: 120px;
  -fx-pref-height: 40px;
  -fx-background-position: 5%;	
  -fx-padding: 0 0 0 20;
  -fx-background-color: linear-gradient(#efefef, #96d666);	
}







#printPdfButton {
  -fx-background-image:url("IconPrintPdf.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 37px;
  -fx-pref-width: 120px;
  -fx-pref-height: 40px;
  -fx-background-position: 5%;	
  -fx-padding: 0 0 0 20;
  -fx-background-color: linear-gradient(#efefef, #C0C0C0);
}
#deleteResButton {
  -fx-background-image:url("IconDeleteRes.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 33px;
  -fx-pref-width: 120px;
  -fx-pref-height: 40px;
  -fx-background-position: 5%;
  -fx-padding: 0 0 0 20;
  -fx-background-color: linear-gradient(#efefef, #ff7c7c);	
}
#showResButton {
  -fx-background-image:url("IconResDetails.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 33px;
  -fx-pref-width: 120px;
  -fx-pref-height: 40px;
  -fx-background-position: 5%;	
  -fx-padding: 0 0 0 20;
  -fx-background-color: linear-gradient(#ffeed1, #FFA500);	
}
#returnCarButton {
  -fx-background-image:url("IconReturnCar.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 33px;
  -fx-pref-width: 120px;
  -fx-pref-height: 40px;
  -fx-background-position: 5%;	
  -fx-padding: 0 0 0 20;
  -fx-background-color: linear-gradient(#efefef, #96d666);		
}




#deleteCustomerButton {
  -fx-background-image:url("IconDeleteCustomer.png");
  -fx-background-repeat: no-repeat;
  -fx-background-size: 25px;
  -fx-pref-width: 100px;
  -fx-pref-height: 30px;
  -fx-background-position: 5%;	
  -fx-padding: 0 0 0 20;
  -fx-background-color: linear-gradient(#efefef, #ff7c7c);	
}
.dialog-pane:header .header-panel {
  -fx-background-color: transparent;
  
}
.dialog-pane:header .header-panel .label{
  -fx-alignment: center;
  -fx-font-size: 14px;
  -fx-font-family: "Segoe UI Light";
  -fx-font-weight: bold;
}

